#tabs{
    padding: 30px 0 40px 0;


    .zogol{
        font-family: "bold",sans-serif;
        font-size: 36px;
        text-align: center;
        padding-bottom: 50px;
    }

    .main_div{
        justify-content: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        

        
        .nav-link.active p{
            color: white;

        }

        .card-body{
            padding: 15px;
            h3{
                font-family: "bold",sans-serif;
                text-align: center;
                font-size: 32px;
                padding-bottom: 32px;
            }

            hr{
                width: 100%;
                padding-bottom: 32px;
            }
            
            .listic{
                display: flex;
                align-items: center;
                padding-bottom: 18px;

                img{
                    padding-right: 16px;

                }

                p{
                    font-family: "book",sans-serif;
                    font-size: 16px;
                }
            }

           
            h2{
                text-align: center;
                font-family: "bold",sans-serif;
                font-size: 50px;
                padding-top: 50px;
            }

            button{
                width: 100%;
                margin-top: 25px;
                background-color: #333333;
                border-radius: 12px;
                transition: 0.8s;
                border:none;
                p{
                    color:white;
                    padding: 8px 52px;
                    font-family: "book",sans-serif;
                    font-size: 18px;
                }
            }

            button:hover{
                background-color: #1749B3;
            }


            .btn_red{
                width: 100%;
                margin-top: 25px;
                background-color: #333333;
                border-radius: 12px;
                transition: 0.8s;
                border:none;
                p{
                    color:white;
                    padding: 8px 52px;
                    font-family: "book",sans-serif;
                    font-size: 18px;
                }
            }

            .btn_red:hover{
                background-color: rgb(177, 22, 22);
            }

        }

        .nav-link p{
            font-family: "book",sans-serif;
            font-size: 18px;
            color:black;
            padding: 7px 28px;
        }
        
        #pills-profile-tab.active{
            background-color: rgb(177, 22, 22);
            
        }

        #pills-home-tab.active{
            background-color: #1749B3 ;
            
        }

        #pills-home-tab{
            transition: 0.6s;
            border-top: #1749B3 solid 1px;
            border-bottom: #1749B3 solid 1px;
            border-left: #1749B3 solid 1px;
            border-top-left-radius: 14px !important;
            border-bottom-left-radius: 14px !important;
            border-top-right-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
            
        }

        #pills-profile-tab{
            transition: 0.6s;
            border-top: rgb(177, 22, 22) solid 1px;
            border-bottom: rgb(177, 22, 22) solid 1px;
            border-right: rgb(177, 22, 22)solid  1px;
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            border-top-right-radius:14px !important;
            border-bottom-right-radius: 14px !important;
            
        }

        ul{
            justify-self: center;
            align-self: center;
            
            border-radius: 14px;
            margin-bottom: 48px !important;
        }

        .cards{
            display: flex;
            gap:16px;
            
            width: 100% ;
        }


        .card{
            height: fit-content;
            border:none;
            border-radius: 32px;
            transition: 0.9s;
            box-shadow: rgba(109, 111, 114, 0.2) 0px 0px 30px 6px;
            width: 380px;

            .move{
                padding: 40px;
            }
            
            
        }

        .card:hover{
            box-shadow: rgba(23,73,179,.5) 0px 0px 30px 6px;
        }

        .card_red{
            height: 592px;
            border:none;
            border-radius: 32px;
            transition: 0.9s;
            box-shadow: rgba(109, 111, 114, 0.2) 0px 0px 30px 6px;
            width: 380px;
            background-color: #fff;

            .move{
                padding: 40px;
            }
            
        }
        .card_red:hover{
            box-shadow: rgb(177, 22, 22, .5) 0px 0px 30px 6px;
        }

      
    }

    .invite{
        margin-top: 18px;
        border-radius: 32px;
        padding: 40px 80px;
        background-color: #1749B3;
        display: flex;
        justify-content: space-between;

        .text{
            color:white;

            h4{
                font-family: "med",sans-serif;
                font-size: 26px;
            }

            p{
                max-width: 508px;
                font-family: "book",sans-serif;
                font-size: 16px;
                padding-top: 24px;
            }
        }

        .link{
            background-color: #fff;
            padding: 27px 87px;
            border-radius: 16px;

            p{
                text-align: center;
                font-family: "book",sans-serif;
                font-size: 18px;
            }

            a{
                font-size: 20px;
                text-transform: uppercase;
                font-family: "med",sans-serif;
            }
        }
    }
}